:root{
    --Blanco: #FFFFFF;
    --Oscuro: #212121;
    --Amarillo: #f561bf;
    --Azul: #0097A7;
    --Gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Solucionar los problemas del modelo caja de CSS y asi no tenemos problemas con el padding*/
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px*/
    /* Hacer efecto degradado en toda la pagina*/
    background-image: linear-gradient(to top, #DFE9F3 0%, #FFFFFF 100% );
}

/* Tipografia de los titulos*/

h1, h2, h3{
    text-align: center;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

/* Sombra para servicios*/
.sombra{
    -webkit-box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    -moz-box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1rem;

}

.logo-cuinos{
    width: 7rem; /* Ancho del logo */
            height: auto; /* Altura ajustada automáticamente */
            display: inline-block; /* Para que el logo se muestre en línea con otros elementos del menú */
            margin-right: 10px; /* Espacio entre el logo y otros elementos del menú */
            /* Otros estilos, como color, tamaño de fuente, etc. */
}

.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
   display: flex; /* Para que la barra sea horizontal */
   flex-direction: column; /* Para se pueda mostrar de manera vertical las opciones */
}

.navegacion-principal a{
    color: #FFFFFF;
    text-decoration: NONE;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    display: block;
    text-align: center;
}

.navegacion-principal a:hover{
    background-color: #f561bf;   
}

.contenedor{
    max-width: 170rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; 
}

.nav-bg{
    background-color: #000000;
}


.bar{
    background-image:url(../SRC/img/team3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
    position: relative;
    margin-bottom: 3rem;
}

.contenido-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7); /* Transparencia de la imagen*/
    /* ALINEAR VERTICALEMNTE LOS OBJETOS DE LA IMAGEN*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-bar h2{
    color: #FFFFFF;
}

.contenido-bar p{
    color: #FFFFFF;
}

.boton{
    background-color: #0097A7;
    color: #FFFFFF;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    /* Poner mayusculas con CSS*/
    text-transform: uppercase;

    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

/* Se pone el cursor de la mano encima del boton enviar del formulario*/
.boton:hover{
    cursor: pointer;
}

/* Alinear iconos con su figura*/
.servicio_Individual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio_Individual h3{
    color: #0097A7;
}

.servicio_Individual p{
    line-height: 2;
    text-align: center;
}

/* Alinear iconos dentro de la figura*/
.servicio_Individual .iconos{
    height: 15rem;
    width: 15rem;
    background-color: #f561bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}














.formulario {
    background-color: #757575;
    width: min(60rem, 100%);
    margin: 0 auto; /* Centrar formulario facil*/
    padding: 2rem; /* Margen hacia adentro*/
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: #f561bf;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase; /* Poner en mayusculas el titulo */
    margin-bottom: 2rem;
    font-weight: 700; /* Poner en negritas el titulo del formulario */
}



.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: #DFE9F3;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}


/* Poder editar cada input de manera individual*/
.campo input[type="text"] {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo input[type="tel"] {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo input[type="email"] {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    height: 20rem;
}

.enviar_form .boton{ 
    width: 100%;
}

.centrarf{
    text-align: center;
}





/* Responsive*/
@media (min-width: 768px) {
    .navegacion-principal{
      flex-direction: row; /* Adaptamos la barra horizontalmente-verticalmente */
      justify-content: space-between; /* Para tenga espacios entre la opciones (alinear elementos horizontalmente) */
      }
      /* Alinear los 3 servicoos de manera horizontal  y vertical*/
      .servicios{
          display: grid;
          grid-template-columns: 33.3% 33.3% 33.3%;
          column-gap: 1rem; /* Separacion entre parrafos (margen)*/
      }
  }
  





