.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #666;
  border-radius: 50px;
  font-weight: 500;
}

.container-positions{
  border: 2px solid #bd43cb;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid #bd43cb;
}

.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg,#a363aa,#bd43cb) ;
  cursor: pointer;
}

.contact-left button img{
  height: 15px;
}

.contact-right img {
  width: 300px; /* Ajusta el tamaño de la imagen según tu preferencia */
  height: 300px; /* Asegúrate de que el alto sea igual al ancho para hacer la imagen circular */
  border: 2px solid #a363aa;
  border-radius: 50%; /* Hace que la imagen sea circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  object-fit: cover; /* Ajusta la imagen para cubrir el área designada */
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

/* Estilos al pasar el mouse */
.contact-right img:hover {
  transform: scale(1.05); /* Escala un poco más grande al pasar el mouse */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.contact-checkbox-label {
  margin-left: 10px;
  font-weight: 500;
  color: #666;
}

.contact-checkbox {
  display: none;
}

.contact-checkbox + .contact-checkbox-label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #bd43cb;
  border-radius: 4px;
  margin-right: 5px;
}

.contact-checkbox:checked + .contact-checkbox-label:before {
  background-color: #bd43cb;
}

.contact-checkbox:checked + .contact-checkbox-label:after {
  content: '\2713';
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}


@media (max-width: 800px) {
  .contact-inputs{
    width: 80vh;
  }
  
  .contact-right{
    display: none;
  }
}