/* https://colorhunt.co/palette/00000086003ce41f7bff8ba0 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}

nav {
    background: #000000;
    height: 80px;
    position: relative;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}
/*---------------------- NAV BAR --------------------------*/

.container-logo {
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.logo-imagen{
    width: 50px;
    height: 50px;
}

.container-logo h2 {
    color: #FF8BA0;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
}

.container-logo h2:hover {
    color: #E41F7B;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
}

.container-logo h2 span {
    color: #E41F7B;
    font-weight: 700;
}

.container-logo h2 span:hover {
    color: #FF8BA0;
    font-weight: 700;
}

.links .link {
    display: inline-block;
}

.links .link a {
    text-decoration: none;
    color: #FF8BA0;
    font-size: 20px;
    margin: 0 25px;
    letter-spacing: 3px;
    transition: .3s;
}

.links .link a:hover {
    color: #E41F7B;
}

.toggle {
    color: #FF8BA0;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 800px){
    .toggle {
        display: inline-block;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px;
    }

    .links .link:hover {
        background: #051c38;
    }
    
}

/*--------------------- CARDS ------------------------------*/


.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}
.card:nth-of-type(4) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}

.card:nth-of-type(5) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(6) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(7) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}
.card:nth-of-type(8) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}

.card:nth-of-type(9) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}

.card:nth-of-type(10) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(11) .img__back{
    background-image: url(/SRC/img/bg1.jpg);
}

.card:nth-of-type(12) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}
.card:nth-of-type(13) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}

.card:nth-of-type(14) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}
.card:nth-of-type(15) .img__back{
    background-image: url(/SRC/img/bg2.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}