:root{
    --Blanco: #FFFFFF;
    --Oscuro: #212121;
    --Amarillo: #f561bf;
    --Azul: #0097A7;
    --Gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Solucionar los problemas del modelo caja de CSS y asi no tenemos problemas con el padding*/
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px*/
    /* Hacer efecto degradado en toda la pagina*/
    background-image: linear-gradient(to top, #121313 0%, #797575 100% );
}

/* Tipografia de los titulos*/

h1, h2, h3{
    text-align: center;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

/* Sombra para servicios*/
.sombra{
    -webkit-box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    -moz-box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    box-shadow: 2px 7px 18px 0px rgba(112,112,112,0.71);
    background-color: #cccaca;
    padding: 2rem;
    border-radius: 1rem;

}


.bar{
    background-image:url(../SRC/img/team3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
    position: relative;
    margin-bottom: 3rem;
}

.contenido-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7); /* Transparencia de la imagen*/
    /* ALINEAR VERTICALEMNTE LOS OBJETOS DE LA IMAGEN*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-bar h2{
    color: #FFFFFF;
}

.contenido-bar p{
    color: #FFFFFF;
}

.boton{
    background-color: #f561bf;
    color: #FFFFFF;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    /* Poner mayusculas con CSS*/
    text-transform: uppercase;

    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

/* Se pone el cursor de la mano encima del boton enviar del formulario*/
.boton:hover{
    cursor: pointer;
    background-color: #000000; 
}
/*/////////////////////////////////////////////////////////////////////////*/
/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999; /* Asegura que la barra de navegación esté por encima del contenido */
}

.logo img {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #ff9900;
}

/* Estilos de las secciones */
.seccion {
    width: 80%; /* Ancho máximo de las secciones */
    margin: 50px auto; /* Centra las secciones */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}




/* Responsive */
@media (min-width: 768px) {
    .navegacion-principal {
        /* Ajustar la altura automáticamente en dispositivos más pequeños */
        flex-direction: row ;/* Cambiar a disposición de columna en dispositivos más pequeños */
        justify-content: space-between;  /* Centrar elementos verticalmente */
    }

    .navegacion-principal a {   
        padding: 1.5rem; /* Reducir el relleno de los elementos de navegación en dispositivos más pequeños */
        font-size: 1.6rem; /* Reducir el tamaño del texto de los elementos de navegación en dispositivos más pequeños */
    }
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }

    .logo-cuinos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Añadimos la siguiente regla para centrar el logo en su contenedor */
    .logo-cuinos img {
        max-width: 100%; /* Aseguramos que el logo no se desborde del contenedor */
        height: auto; /* Mantenemos la proporción del logo */
        margin: 0 auto; /* Centrar horizontalmente */
    }
}







  





